/* img{
    width: 100px;
    height: auto;
    padding: 10px;
}
#img1{
 float: right;
}
#img2{
    float: left;

} */

ul{
    background-color: green;
    list-style-type: none;
    /* border: 1px solid red; */
    overflow: auto;
}
li{
    color: white;
    padding: 10px 15px;
    float: left;
}