#text{
    border: 1px solid black;
    color: blueviolet;
    width: 500px;
    text-align: center;
    text-transform: capitalize;
    line-height: 40px;
    text-indent: 20px;
    word-spacing: 10px;
    word-wrap: normal;
}

#shadow{
    font-size: 50px;
    text-shadow: 5px 10px 20px blueviolet;
}
#text1{
    width: 500px;
    border: 1px solid black;
    writing-mode: vertical-rl;
}

a{
    text-decoration: none;
}
a:link{
    color: chartreuse;
}
a:visited{
    color: green;
}
a:hover{
    color: indigo;
}
a:active{
    color: red;
}